body {
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #92990F;
}
.App {
  text-align: center;
  width: 50vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

ul {
  list-style-type: none;
}

.general-container{
  border: 4px solid #DEE62D;
  background-color: #DEE62D;
  display: flex;
  align-items: center; 
  justify-content:space-evenly;
  flex-direction: column;
}

.category-container{
  display: inline-block;
  margin: 10px;
  width: 70vh;
  border: 4px solid #459CE6;
  background-color: #459CE6;
}
h2{
  display: inline-block;
}
input{
  margin: 10px;
}
button{
  margin: 10px;
}
li{
  font-size: 15px;
}